body{
    font-family: 'Montserrat', sans-serif; 
}

.contenedor{
    position: absolute;
    width: 1024px;
    height: 512px;
    margin: 0 auto;
    background: url(imagenes/fondo2.jpg);;

    /* flex contenedor*/
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

}

.Entrada-box{
    position: relative;
    width: 65%;
    height: 512px;
    /* flex Entrada-box*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    /*gap: 20px;

    /*into flex contenedor*/
    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo{
    position: relative;
    width: 100px; 
    height: 30px; 
    top: 20px;
    left: 20px;

    /*into flex Entrada-box*/
    flex: none;
    order: 0;
    flex-grow: 0;

}

.input-padron{
    position: relative;
    width: 500px;
    height: 30px;
    left: 120px;
    top: 40px;
    border: none;

    font-size: 24px;
    line-height: 125%;

    /* Dark blue/dark-blue-300 */
    color: #0A3871;
    background: url(imagenes/fondo2.jpg);

    /*into flex Entrada-box*/
    flex: none;
    order: 1;
    flex-grow: 0;

}

.input-padron::placeholder{
    color: #0A3871;
}

.restriccion{
    /* flex restriccion */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;

    position: relative;
    width: 230px;
    height: 18px;
    left: 120px;
    top: 300px;
/*into flex Entrada-box*/
    flex: none;
    order: 2;
    flex-grow: 0;
    
}

.signo{
    font-size: 12px;
    line-height: 150%;

    /* Gray/gray-400 */
    color: red;

    /*into flex restriccion*/
    flex: none;
    order: 0;
    flex-grow: 0;
}

.restri{
    /* Solo letras minúsculas y sin acentos */
    
    font-size: 12px; 
    font-weight: bold;
    line-height: 150%;
    /* identical to box height, or 18px */

    color: darkblue;
    opacity: 0.8;

    /* Into flex restriccion */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones{
    /*flex botones*/
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;

    position: relative;
    width: 500px;
    height: 60px;
    left: 120px;
    top: 310px;
/*into flex Entrada-box*/
    flex: none;
    order: 3;
    flex-grow: 0;
}
.boton-encriptar{

    box-sizing: border-box;
    border-radius: 24px;

    width: 230px;
    height: 55px;

    /* Dark blue/dark-blue-300 */
    background: #0A3871;
 
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

    /* Into flex botones */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.boton-encriptar:hover{
    background: rgb(3, 3, 54);
    
}
.boton-desencriptar{
    box-sizing: border-box;
    border-radius: 24px;
    border: 1px solid #0A3871;

    width: 230px;
    height: 55px;

    background: #D8DFE8;/* Light gray */
    text-decoration: none;
    color: #0A3871;
    font-size: 30px;
    font-weight: bold;
    text-align: center;

    cursor: pointer;

    /* Into flex botones */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.boton-desencriptar:hover{
    background: aqua;  
}

.Resultado-box{
    width: 35%; 
    height: 512px; 

    /*flex Resultado-box*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    /*into flex contenedor*/
    flex: none;
    order: 1;
    flex-grow: 0;
}

.CuadroResultado{
 
    /*flex CuadroResultado*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: relative;
    width: 280px;
    height: 472px;
    top: 20px;

    /* White */
    background: #FFFFFF;

    /* shadow */
    box-shadow: 0px 12px 16px -4px rgba(0, 0, 0, 0.08);
    border-radius: 16px;

    /*into flex Resultado-box*/
    flex: none;
    order: 0;
    flex-grow: 0;
  
}

#Muestra-Resultado{
    display: none;
}

#mensaje{
    position: relative;
    width: 265px;
    height: 375px;
    top: 5px;
    left: 5px;
   
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 48px */

    color: #0A3871;
    
    border: none;

    /*into flex CuadroResultado*/
    flex: none;
    order: 0;
    flex-grow: 0;
}

.boton-copiar{
     /* Button */
    box-sizing: border-box;
    border: 1px solid #0A3871; /* Dark blue*/
    border-radius: 24px; 

    position: relative; 
    width: 200px;
    height: 50px;
    left: 40px;
    top: 10px;
 
    background: #D8DFE8; /* Light gray */
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #0A3871;

    cursor: pointer;

    /*into flex CuadroResultado*/
    flex: none;
    order: 3;
    flex-grow: 0;
}

.boton-copiar:hover{
    background: aqua;
    
}

.muneco{
    /* Muñeco */
    position: relative;
    top: 100px;
    width: 245px;
    height: 177px;

    /*into flex CuadroResultado*/
    flex: none;
    order: 1;
    flex-grow: 0;
}

.frame{
    /* flex frame */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: relative;
    width: 250px;
    height: 92px;
    top: 120px;
    
    /*into flex CuadroResultado*/
    flex: none;
    order: 2;
    flex-grow: 0;
}

.parrafo1{
    /* Ningún mensaje fue encontrado */

    font-weight: 700; 
    font-size: 18px;
    line-height: 120%;
    text-align: center;

    /* Gray/gray-500 */
    color: #343A40;

    /* Into flex frame */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.parrafo2{
    /* Ingresa el texto que desees encriptar o desencriptar. */

    font-size: 14px;
    line-height: 150%;
    text-align: center;

    /* Gray/gray-400 */
    color: #495057;

    /* Into flex frame */
    flex: none;
    order: 1;
    flex-grow: 0;
   
}


@media screen and (max-width:768px){
    .contenedor{
        flex-direction: column;
        width: 100%;
    }
    .Entrada-box, .Resultado-box{
        width: 100%;
        background: url(imagenes/fondo2.jpg);
    }   
    .input-padron, .restriccion, .botones, .boton-encriptar, .boton-desencriptar{
        width: 60%;
        font-size: 100%;
        left: 10%;
    }
    
    .CuadroResultado{
        width: 75%;
    } 
    #mensaje{
        width: 95%;    
    } 
    .frame{
        width: 75%;
        height: 100px;
        top: 20px;
        left: 15%;
         
    }
   .boton-copiar{
        left: 20%;
        width: 60%;
        font-size: 100%;
   } 
   .muneco{
    display: none;
   }
}
